@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  @apply text-sm;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background-color: #404d6242;
  border-radius: 10px;
}

/* Input Styling */

.floating-input > input::placeholder {
  color: transparent;
}

.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-8 -translate-x-2;
  @apply text-light-blue;
}

.input-file {
  @apply block w-full text-sm text-slate-500
file:mr-4 file:py-2 file:px-4
file:rounded-full file:border-0
file:text-sm file:font-semibold
file:bg-gray-400 file:text-white
file:duration-150
hover:file:bg-primary-red;
}

/* Background */
.bg-mask,
.bg-registro {
  background: linear-gradient(to right, rgb(0 0 0 / 0.6), rgb(0 0 0 / 0.5)),
    url("/images/login-bg1.jpg");
  background-size: cover;
}

@media (min-width: 640px) {
  .bg-mask {
    background: linear-gradient(to right, rgb(0 0 0 / 0.6), rgb(0 0 0 / 0.5)),
      url("/images/login-bg3.jpg");
    background-size: cover;
    background-position: center;
  }

  .bg-registro {
    background: linear-gradient(to right, rgb(0 0 0 / 0.6), rgb(0 0 0 / 0.5)),
      url("/images/registro-img.png");
    background-size: cover;
  }
}

/* Burguer menu */

.hamburguer .bar,
.hamburguer:after,
.hamburguer:before {
  content: "";
  @apply block w-full h-small bg-white rounded-full my-1 mx-0 duration-300;
}

.hamburguer.true .bar {
  @apply opacity-0;
}

.hamburguer.true:after {
  @apply rotate-45 -translate-x-1 -translate-y-04;
}

.hamburguer.true:before {
  @apply -rotate-45 -translate-x-1 translate-y-2;
}

/* Active states */
.arrow.true {
  @apply rotate-180;
}

.dropdown.true {
  @apply scale-100 top-10 -left-8;
}

.navbar.true {
  @apply absolute w-full bg-opacity-blue top-0;
}

.navbar.false {
  @apply bg-primary-blue;
}

.navbar.sticky {
  @apply fixed top-0 w-full bg-primary-blue;
  animation: stickyDown 0.5s ease-in-out;
}

.navbar-mobile.true {
  @apply left-0;
}

.h85{
  width: 21rem;
}

/* Animations  */
@keyframes stickyDown {
  from {
    transform-origin: bottom;
    transform: translateY(-120px);
  }

  to {
    transform: translateY(0);
  }
}
